<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951909592865-dp1jq6lms88nj08vk68blcbf9khqdn6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951909592865-dp1jq6lms88nj08vk68blcbf9khqdn6h</string>
	<key>API_KEY</key>
	<string>AIzaSyDsljbtSOsG_0mfvxi8ZPTY0MkC73Nb7wM</string>
	<key>GCM_SENDER_ID</key>
	<string>951909592865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workshop</string>
	<key>PROJECT_ID</key>
	<string>devfest-workshop-flutter-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>devfest-workshop-flutter-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951909592865:ios:a5fd1a29adbdd94b095860</string>
</dict>
</plist>